{% extends "base.html" %}

{% block content %}

    <form class="form1" action="/RPS_2_Players" method="post">
        <div>
            <label for="p1">Player 1</label>
            <input type="text" name="name" id="p1">

            <label for="choice_p1">choice:</label>
            <select id="choice_p1" name="choice">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
        </div>
        
        <div>
            <label for="p2">Player 1</label>
            <input type="text" name="name" id="p2">

            <label for="choice_p2">choice:</label>
            <select id="choice_p2" name="choice">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
        </div>

      <input type="submit" value="Play!">
    </form>

{% endblock %}