{% extends "base.html" %}

{% block content %}

    <form class="form" action="/2_Players" method="post">
        <div>
            <div class = single_form>
                <label for="p1">Player 1</label>
                <input type="text" name="p1" id="p1">
    
                <label for="choice_p1">choice:</label>
                <select id="choice_p1" name="choice_p1">
                    <option value="rock">Rock</option>
                    <option value="paper">Paper</option>
                    <option value="scissors">Scissors</option>
                </select>
            </div>
            
    
            <div class = single_form>
                <label for="p2">Player 2</label>
                <input type="text" name="p2" id="p2">
    
                <label for="choice_p2">choice:</label>
                <select id="choice_p2" name="choice_p2">
                    <option value="rock">Rock</option>
                    <option value="paper">Paper</option>
                    <option value="scissors">Scissors</option>
                </select>
            </div>
        </div>


      <input class = play type="submit" value="Play!">
    </form>

{% endblock %}