<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Gruppo&family=Nova+Square&family=Poiret+One&display=swap" rel="stylesheet">
      <title>{{ title }}</title>
    </head>


    <body>
        <header id=banner>
            <div>
                <h1>RPSonline</h1>
                <img src="/static/img/logo.png" alt="logo" width="240" height="82">
            </div>
            <nav>
                <a href="/1_Player">
                    <img src="/static//img/1player.png" alt="1Player" height="60px" width="80px">
                </a>
                <a href="/2_Players">
                    <img src="/static//img/2players.png" alt="2Players" height="60px" width="80px">
                </a>
                {% if title != "RPSonline"%}
                    <a href="/" class=home>
                        <img src="/static/img/home.png" alt="HOME" height="26px" width="29px"><p>home</p>
                    </a>
                {% endif%}
            </nav>
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
</html>