<html>
    <head>
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
      <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <!-- logo -->
            <img src="/static/img/logo.png" alt="logo" width="240" height="82">
            <h1>RPS-online</h1>
            <nav>
                    {% if title != "RPS-online"%}
                    <a href="/">HOME</a>
                    {% endif%}
            </nav>
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
</html>